parameters:
    level: 3
    paths:
        - .
    excludePaths:
        analyse:
            - vendor
            - .stubs
            - node_modules (?)
            - build (?)
            - dist (?)
            - tests
    scanFiles:
        - .stubs/cjw-plugin-stubs.php
    bootstrapFiles:
        - phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
