@use "../../abstracts/variables/colors";

a {
	color: colors.$color-link;

	&:visited {
		color: colors.$color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: colors.$color-link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
