.site {
	display: grid;
	grid-template-columns: ($size-site-sidebar) auto;
	grid-template-areas:
		"header header"
		"sidebar main"
		"footer footer";
}

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
}

/* stylelint-disable-next-line no-invalid-position-at-import-rule -- Sass resolves this at compile time; moving it would change the cascade order. */
@import "no-sidebar";
